name: release

on:
  push:
    tags: ["v*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.6
      - uses: erlef/setup-beam@v1.17.5
        with:
          otp-version: "26.0.2"
          rebar3-version: "3"
          gleam-version: "1.1.0"

      - run: cargo install tomlq
      - run: |
          if [ "v$(tomlq version -f gleam.toml)" == "${{ github.ref_name }}" ]; then
            exit 0
          fi
          echo "tag does not match version in gleam.toml, refusing to publish"
          exit 1
      - run: gleam format --check src
      - run: gleam publish -y
        env:
          HEXPM_API_KEY: ${{ secrets.HEX_DEPLOY_KEY }}

      - uses: softprops/action-gh-release@v2
